type hal_fod_monet, coredomain, domain;
hal_server_domain(hal_fod_monet, hal_lineage_fod)

type hal_fod_monet_exec, exec_type, system_file_type, file_type;
init_daemon_domain(hal_fod_monet)
